	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class="padding page-about_us">
		
<div class="text-center">
    <img class="avatar relative" ng-src="data/images/images/drawable-hdpi-icon.png" />
    <p>Arga Tour v1.0</p>
</div>
<br/>
<div class="list card">
  <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/argatour-291053937684947/')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>    
    
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/105239706002379338749')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Join us on Google+
  </a> 
  <a class="item item-icon-left" ng-click="openURL('https://twitter.com/argatour')" >
    <i class="calm icon ion-social-twitter"></i>
   Follow me on Twitter
  </a>   
   <a class="item item-icon-left" ng-click="openURL('mailto:pilar.multindo@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation<br/>
    <span>
        Email: pilar.multindo@gmail.com
    </span>
  </a>
</div>
<br/>
<div class="text-center">
    <p>&copy; 2017 <a ng-click="openURL('http://argatour.co.id')" >Pilar Multindo</a><br/>All Rights Reserved</p>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
