	<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
				<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 light positive-bg ink"  ng-href="#/arga_tour/wahana" >
					<i class="icon ion-ios-partlysunny" ></i>
					<p>Wahana</p>
				</a>
				<a class="col-33 light positive-900-bg ink"  ng-href="#/arga_tour/promo" >
					<i class="icon ion-speakerphone" ></i>
					<p>Promo</p>
				</a>
				<a class="col-33 light calm-bg ink"  ng-href="#/arga_tour/paket" >
					<i class="icon ion-pricetag" ></i>
					<p>Paket</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light calm-900-bg ink"  ng-href="#/arga_tour/artikel" >
					<i class="icon ion-ios-paper" ></i>
					<p>Artikel</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
